doctype html
html
  head
    title welcome~elcome~lcome~come~ome~me~e~
  body
    h1 首页~
    p 这里就是首页了, 惊不惊喜, 意不意外
    p 我看谁的博客比我的兼容性还好
    h2 目录
    ul
      each item, i in items
        li
          a(href='/article;id=' + i)= item.title
     
